---
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {
  let projects = await Astro.glob("./projects/*.{md, mdx}");

  return projects.map((project) => ({
    params: { project: project.frontmatter.slug },
    props: {
      project,
    },
  }));
}

const { Content, frontmatter } = Astro.props.project;
---

<MainLayout title={frontmatter.title}>
  <main class="px-24 max-sm:px-5 max-w-7xl mx-auto w-full">
    <h1>{frontmatter.title}</h1>
    <Content />
  </main>
</MainLayout>
