---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title={"About"}>
  <main class="px-24 max-sm:px-5 max-w-7xl mx-auto w-full">
    <h1>About Me</h1>
    <p>
      My name is Carl Centola and I am a Data Engineer who messes around with a
      little mor ethan just databases and pipelines...
    </p>
  </main>
</MainLayout>
