---
import H1 from "../components/H1.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Main from "../components/Main.astro";
---

<MainLayout title={"About"}>
  <Main>
    <H1 text="About Me" />
    <p>
      My name is Carl Centola and I am a Data Engineer who messes around with a
      little mor ethan just databases and pipelines...
    </p>
  </Main>
</MainLayout>
