---
import H1 from "../components/H1.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Main from "../components/Main.astro";
---

<MainLayout title={"Carl Centola"}>
  <Main>
    <H1 text="Carl Centola" />
    <p>Data Engineer</p>
  </Main>
</MainLayout>
