---
import MainLayout from "../layouts/MainLayout.astro";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";

const projects = await Astro.glob("./projects/*.{md, mdx}");
---

<MainLayout title={"projects"}>
  <Main>
    <H1 text="Projects" />

    {
      projects.map((project) => {
        return (
          <div>
            <a href={`${project.frontmatter.slug}`}>
              {project.frontmatter.title}
            </a>
          </div>
        );
      })
    }
  </Main>
</MainLayout>
